n8n-workflows/workflow-01-lead-created.json
{
  "name": "01 — Lead Created → Sheets + Email Bienvenida",
  "notes": "WAT: Captura leads del webhook /lead-created. Inputs: user_name, user_email, phone, company, industry, agent_slug, plan_interest, use_case, reservation_id. Outputs: fila en 'Leads Master', email de bienvenida al lead, alerta al admin. Dedup por email para evitar doble registro con WF15.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: lead-created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lead-created"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET_INTERNAL }}"
            }
          ]
        }
      },
      "id": "verify-secret",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "unauthorized-response",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "success-response",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 150]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Leads Master",
          "mode": "name"
        },
        "lookupColumn": "Email",
        "lookupValue": "={{ $json.body.user_email }}",
        "options": { "returnAllMatches": false }
      },
      "id": "dedup-check",
      "name": "Dedup: ¿Email ya existe?",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-oauth2",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Email || '' }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "is-new-lead",
      "name": "IF: ¿Es lead nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Leads Master",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ new Date($('Webhook: lead-created').first().json.body.created_at || Date.now()).toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}",
            "Lead ID": "={{ $('Webhook: lead-created').first().json.body.reservation_id || ('LEAD-' + Date.now()) }}",
            "Nombre": "={{ $('Webhook: lead-created').first().json.body.user_name }}",
            "Email": "={{ $('Webhook: lead-created').first().json.body.user_email }}",
            "Teléfono": "={{ $('Webhook: lead-created').first().json.body.phone }}",
            "Empresa": "={{ $('Webhook: lead-created').first().json.body.company }}",
            "Industria": "={{ $('Webhook: lead-created').first().json.body.industry }}",
            "Agente": "={{ $('Webhook: lead-created').first().json.body.agent_slug }}",
            "Fuente": "={{ $('Webhook: lead-created').first().json.body.utm_source || 'organic' }}",
            "Plan": "={{ $('Webhook: lead-created').first().json.body.plan_interest }}",
            "Estado": "new"
          }
        },
        "options": {}
      },
      "id": "append-to-sheets",
      "name": "Append to Leads Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1100, 200],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-oauth2",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook: lead-created').first().json.body.user_email }}",
        "subject": "¡Tu solicitud fue recibida! — TuAgente Store",
        "message": "Hola {{ $('Webhook: lead-created').first().json.body.user_name }},\n\nRecibimos tu solicitud para el agente **{{ $('Webhook: lead-created').first().json.body.agent_name || $('Webhook: lead-created').first().json.body.agent_slug }}**.\n\nNuestro equipo te contactará en **menos de 24 horas hábiles** para coordinar los próximos pasos.\n\n**Tu solicitud:**\n- Plan: {{ $('Webhook: lead-created').first().json.body.plan_interest || 'starter' }}\n- Empresa: {{ $('Webhook: lead-created').first().json.body.company || '—' }}\n- Industria: {{ $('Webhook: lead-created').first().json.body.industry || '—' }}\n\nSi tenés alguna pregunta, respondé este email o escribinos a hola@tuagentestore.com.\n\nSaludos,\nEquipo TuAgente Store\nhttps://tuagentestore.com",
        "options": {
          "fromEmail": "={{ $env.GMAIL_FROM }}",
          "fromName": "TuAgente Store"
        }
      },
      "id": "send-welcome-email",
      "name": "Email: Bienvenida al Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1350, 150],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "={{ '🔔 Nuevo lead: ' + $('Webhook: lead-created').first().json.body.user_name + ' (' + ($('Webhook: lead-created').first().json.body.plan_interest || 'starter') + ')' }}",
        "message": "Nuevo lead recibido:\n\n**Nombre:** {{ $('Webhook: lead-created').first().json.body.user_name }}\n**Email:** {{ $('Webhook: lead-created').first().json.body.user_email }}\n**Teléfono:** {{ $('Webhook: lead-created').first().json.body.phone }}\n**Empresa:** {{ $('Webhook: lead-created').first().json.body.company || '—' }}\n**Industria:** {{ $('Webhook: lead-created').first().json.body.industry || '—' }}\n**Agente:** {{ $('Webhook: lead-created').first().json.body.agent_slug }}\n**Plan:** {{ $('Webhook: lead-created').first().json.body.plan_interest }}\n**Caso de uso:** {{ $('Webhook: lead-created').first().json.body.use_case || '—' }}\n**ID Reserva:** {{ $('Webhook: lead-created').first().json.body.reservation_id }}\n\nVer en admin: https://tuagentestore.com/admin",
        "options": {
          "fromEmail": "={{ $env.GMAIL_FROM }}",
          "fromName": "TuAgente Store Ops"
        }
      },
      "id": "notify-admin",
      "name": "Email: Alerta Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1350, 320],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "⚠️ WF01 Error — Lead Created falló",
        "message": "={{ 'Error en WF01 (Lead Created):\\n\\nEmail del lead: ' + $('Webhook: lead-created').first().json.body.user_email + '\\nNombre: ' + $('Webhook: lead-created').first().json.body.user_name + '\\n\\nError: ' + ($json.error?.message || JSON.stringify($json.error) || 'Ver logs de n8n') + '\\n\\nTimestamp: ' + new Date().toISOString() }}",
        "options": {
          "fromEmail": "={{ $env.GMAIL_FROM }}",
          "fromName": "n8n Alertas TuAgenteStore"
        }
      },
      "id": "error-alert",
      "name": "Email: Error Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1100, 480],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook: lead-created": {
      "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]]
    },
    "Verify Secret": {
      "main": [
        [
          { "node": "200 OK", "type": "main", "index": 0 },
          { "node": "Dedup: ¿Email ya existe?", "type": "main", "index": 0 }
        ],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Dedup: ¿Email ya existe?": {
      "main": [[{ "node": "IF: ¿Es lead nuevo?", "type": "main", "index": 0 }]]
    },
    "IF: ¿Es lead nuevo?": {
      "main": [
        [{ "node": "Append to Leads Master", "type": "main", "index": 0 }],
        []
      ]
    },
    "Append to Leads Master": {
      "main": [
        [
          { "node": "Email: Bienvenida al Lead", "type": "main", "index": 0 },
          { "node": "Email: Alerta Admin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email: Bienvenida al Lead": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "leads" }, { "name": "fase-2" }, { "name": "wat-optimized" }],
  "triggerCount": 1,
  "active": true
}
