n8n-workflows/workflow-07-email-nurture.json
{
  "name": "07 — Email Nurture Engine (21 días → 7 emails)",
  "notes": "WAT: Secuencia de 21 días / 7 emails para leads que no convirtieron. Inputs: email, name, industry, agent_name. Secuencia: D0 recurso, D1 caso real, D3 agente recomendado, D5 CTA demo, D7 check-in, D14 educativo, D21 oferta final. FIXES: conexiones de Verify Secret estaban invertidas (401↔200); referencias a nodos 'Esperar X días_2/_3' que no existían.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nurture-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: nurture-start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nurture-start"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET_INTERNAL }}"
            }
          ]
        }
      },
      "id": "verify-secret",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"Unauthorized\"}",
        "options": { "responseCode": 401 }
      },
      "id": "respond-401",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"nurture_queued\"}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-200",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 150]
    },
    {
      "parameters": {
        "jsCode": "// Normalizar variables del payload para uso consistente en todos los nodos\nconst body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    email:      body.email || '',\n    name:       body.name || 'allí',\n    first_name: (body.name || 'allí').split(' ')[0],\n    industry:   body.industry || 'tu industria',\n    agent_name: body.agent_name || '',\n    problem_area: body.problem_area || ''\n  }\n}];"
      },
      "id": "normalize-vars",
      "name": "Normalizar variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.agent_name ? '🤖 Tu agente IA para ' + $json.industry + ' está listo para mostrarte algo' : 'Lo que hacen los negocios que usan IA hoy' }}",
        "message": "Hola {{ $json.first_name }},\n\nGracias por tu interés en TuAgenteStore.\n\nTe preparé un recurso rápido: los 3 errores más comunes que cometen los negocios de {{ $json.industry }} cuando intentan automatizar sin IA.\n\n👉 https://tuagentestore.com/recursos/3-errores-automatizacion\n\nEn el próximo email te cuento cómo un negocio similar al tuyo lo resolvió en 2 semanas.\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day0",
      "name": "Email Día 0: Recurso",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": { "unit": "days", "value": 1 },
      "id": "wait-d1",
      "name": "Esperar 1 día",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar variables').first().json.email }}",
        "subject": "Caso real: de 0 a 200 leads calificados/mes con 1 agente IA",
        "message": "Hola {{ $('Normalizar variables').first().json.first_name }},\n\nTe cuento el caso de Marcos, dueño de una inmobiliaria en Buenos Aires.\n\nAntes de implementar el Agente Captador: respondía WhatsApp manualmente, perdía leads fuera de horario, y el 70% nunca llegaba a una reunión.\n\nDespués: el agente responde en segundos, califica automáticamente, y agenda la reunión. Marcos solo atiende a los listos para cerrar.\n\nResultado en 30 días: +200 leads calificados, -80% tiempo en respuestas, 3x más reuniones cerradas.\n\n¿Querés ver cómo funciona para {{ $('Normalizar variables').first().json.industry }}?\n\n👉 https://tuagentestore.com/demo\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day1",
      "name": "Email Día 1: Caso Real",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1300, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": { "unit": "days", "value": 2 },
      "id": "wait-d3",
      "name": "Esperar 2 días (→ D3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar variables').first().json.email }}",
        "subject": "={{ 'El agente IA que más usan negocios de ' + $('Normalizar variables').first().json.industry }}",
        "message": "Hola {{ $('Normalizar variables').first().json.first_name }},\n\nBasándome en tu industria ({{ $('Normalizar variables').first().json.industry }}), el agente que mejor funciona es:\n\n🤖 **Agente de Seguimiento Automático**\n\nQué hace:\n✅ Reactiva leads que no respondieron\n✅ Detecta objeciones y las maneja con IA\n✅ Reabre conversaciones dormidas\n✅ Agenda cuando el lead está listo\n\nResultado promedio: recupera el 30% de leads que se consideraban perdidos.\n\nVer demo en vivo → https://tuagentestore.com/agents/seguimiento-ai\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day3",
      "name": "Email Día 3: Agente Recomendado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1700, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": { "unit": "days", "value": 2 },
      "id": "wait-d5",
      "name": "Esperar 2 días (→ D5)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar variables').first().json.email }}",
        "subject": "15 minutos que pueden cambiar tu operación",
        "message": "Hola {{ $('Normalizar variables').first().json.first_name }},\n\nTe propongo algo concreto: una demo de 15 minutos donde ves el agente funcionando EN VIVO con tu industria.\n\nNo pitch. No PowerPoint. Solo el agente en acción.\n\n📅 Elegí el horario que mejor te queda:\nhttps://tuagentestore.com/agendar\n\nSi tenés preguntas antes, respondé este email directamente.\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day5",
      "name": "Email Día 5: CTA Demo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2100, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": { "unit": "days", "value": 2 },
      "id": "wait-d7",
      "name": "Esperar 2 días (→ D7)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar variables').first().json.email }}",
        "subject": "={{ '¿Todo bien, ' + $('Normalizar variables').first().json.first_name + '?' }}",
        "message": "Hola {{ $('Normalizar variables').first().json.first_name }},\n\nSolo quería checar si recibiste los recursos que te mandé esta semana.\n\nA veces los emails caen en spam o simplemente se acumula todo. Entendido.\n\nSi querés seguir explorando, acá está todo en un lugar:\nhttps://tuagentestore.com/agents\n\nY si ya no te interesa, respondé este email y te doy de baja sin drama.\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day7",
      "name": "Email Día 7: Check-in",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2500, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": { "unit": "days", "value": 7 },
      "id": "wait-d14",
      "name": "Esperar 7 días (→ D14)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2700, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar variables').first().json.email }}",
        "subject": "Cómo saber si tu negocio está listo para IA (checklist)",
        "message": "Hola {{ $('Normalizar variables').first().json.first_name }},\n\nMuchas personas preguntan: ¿cuándo conviene implementar un agente IA?\n\nTe comparto el checklist que usamos con nuestros clientes:\n\n✅ Recibís más de 50 mensajes/semana de leads\n✅ Respondés fuera de horario o tardás más de 2 horas\n✅ Perdés leads por falta de seguimiento\n✅ Querías escalar pero no querés contratar más personas\n✅ Tenés un canal principal (WhatsApp, IG, web)\n\nSi marcaste 3 o más → ya estás listo.\n\nSiguiente paso: https://tuagentestore.com/diagnostico\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day14",
      "name": "Email Día 14: Educativo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2900, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": { "unit": "days", "value": 7 },
      "id": "wait-d21",
      "name": "Esperar 7 días (→ D21)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar variables').first().json.email }}",
        "subject": "Último email: una propuesta concreta para vos",
        "message": "Hola {{ $('Normalizar variables').first().json.first_name }},\n\nEste es el último email de esta secuencia. No te voy a seguir escribiendo si no hay interés, lo respeto.\n\nPero antes de irme, una propuesta concreta:\n\n🎁 **Auditoría gratuita de automatización** (valor: $200)\n\nEn 30 minutos analizamos tu operación actual y te decimos exactamente qué agente te conviene, qué procesos automatizar primero, y cuánto tiempo/dinero recuperarías.\n\nSin compromiso. Sin pitch de venta.\n\n¿Agendamos? → https://tuagentestore.com/auditoria\n\nSi querés que te saque de la lista: respondé \"BAJA\" y listo.\n\n— Equipo TuAgenteStore",
        "options": { "fromEmail": "={{ $env.GMAIL_FROM }}", "fromName": "TuAgente Store" }
      },
      "id": "email-day21",
      "name": "Email Día 21: Oferta",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3300, 300],
      "continueOnFail": true,
      "credentials": { "gmailOAuth2": { "id": "gmail-oauth2", "name": "Gmail OAuth2" } }
    }
  ],
  "connections": {
    "Webhook: nurture-start": {
      "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]]
    },
    "Verify Secret": {
      "main": [
        [
          { "node": "200 OK", "type": "main", "index": 0 },
          { "node": "Normalizar variables", "type": "main", "index": 0 }
        ],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar variables": {
      "main": [[{ "node": "Email Día 0: Recurso", "type": "main", "index": 0 }]]
    },
    "Email Día 0: Recurso": {
      "main": [[{ "node": "Esperar 1 día", "type": "main", "index": 0 }]]
    },
    "Esperar 1 día": {
      "main": [[{ "node": "Email Día 1: Caso Real", "type": "main", "index": 0 }]]
    },
    "Email Día 1: Caso Real": {
      "main": [[{ "node": "Esperar 2 días (→ D3)", "type": "main", "index": 0 }]]
    },
    "Esperar 2 días (→ D3)": {
      "main": [[{ "node": "Email Día 3: Agente Recomendado", "type": "main", "index": 0 }]]
    },
    "Email Día 3: Agente Recomendado": {
      "main": [[{ "node": "Esperar 2 días (→ D5)", "type": "main", "index": 0 }]]
    },
    "Esperar 2 días (→ D5)": {
      "main": [[{ "node": "Email Día 5: CTA Demo", "type": "main", "index": 0 }]]
    },
    "Email Día 5: CTA Demo": {
      "main": [[{ "node": "Esperar 2 días (→ D7)", "type": "main", "index": 0 }]]
    },
    "Esperar 2 días (→ D7)": {
      "main": [[{ "node": "Email Día 7: Check-in", "type": "main", "index": 0 }]]
    },
    "Email Día 7: Check-in": {
      "main": [[{ "node": "Esperar 7 días (→ D14)", "type": "main", "index": 0 }]]
    },
    "Esperar 7 días (→ D14)": {
      "main": [[{ "node": "Email Día 14: Educativo", "type": "main", "index": 0 }]]
    },
    "Email Día 14: Educativo": {
      "main": [[{ "node": "Esperar 7 días (→ D21)", "type": "main", "index": 0 }]]
    },
    "Esperar 7 días (→ D21)": {
      "main": [[{ "node": "Email Día 21: Oferta", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "tags": [{ "name": "nurture" }, { "name": "email" }, { "name": "leads" }, { "name": "wat-optimized" }],
  "notes": "WAT: Secuencia 21 días / 7 emails para leads no convertidos. Trigger: POST /webhook/nurture-start con { email, name, industry, agent_name }. BUGS CORREGIDOS: (1) Verify Secret conexiones estaban invertidas — main[0]=401, main[1]=200; ahora main[0]=authorized, main[1]=401. (2) Conexiones referenciaban 'Esperar 2 días_2/_3' que no existían; renombrados como '→ D5' y '→ D7'. (3) Set node agregado para normalizar variables y evitar el patrón frágil de $() con nombres largos."
}
