n8n-workflows/workflow-02-demo-started.json
{
  "name": "02 — Demo Started → Log en Sheets",
  "notes": "WAT: Registra cada inicio de demo en 'Demo Sessions'. Inputs: session_id, agent_slug, agent_name, user_email, ip_address. Outputs: fila en 'Demo Sessions'. Responde 200 antes de procesar para no bloquear al caller.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-started",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: demo-started",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "demo-started"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET_INTERNAL }}"
            }
          ]
        }
      },
      "id": "verify-secret",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "unauthorized-response",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "success-response",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 150]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "value": "Demo Sessions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}",
            "Session ID": "={{ $json.body.session_id }}",
            "Agente": "={{ $json.body.agent_name || $json.body.agent_slug }}",
            "Email Usuario": "={{ $json.body.user_email || 'anonymous' }}",
            "IP": "={{ $json.body.ip_address }}",
            "Mensajes": "0",
            "Status": "started"
          }
        },
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log Demo en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-oauth2",
          "name": "Google OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error",
      "name": "IF: ¿Hubo error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL }}",
        "subject": "⚠️ WF02 Error — Demo Started no pudo loggear",
        "message": "={{ 'Error en WF02 (Demo Started):\\n\\nSession ID: ' + $('Webhook: demo-started').first().json.body.session_id + '\\nAgente: ' + $('Webhook: demo-started').first().json.body.agent_slug + '\\n\\nError: ' + ($json.error?.message || JSON.stringify($json.error) || 'Ver logs de n8n') + '\\n\\nTimestamp: ' + new Date().toISOString() }}",
        "options": {
          "fromEmail": "={{ $env.GMAIL_FROM }}",
          "fromName": "n8n Alertas TuAgenteStore"
        }
      },
      "id": "error-alert",
      "name": "Email: Error Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1100, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook: demo-started": {
      "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]]
    },
    "Verify Secret": {
      "main": [
        [
          { "node": "200 OK", "type": "main", "index": 0 },
          { "node": "Log Demo en Sheets", "type": "main", "index": 0 }
        ],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Log Demo en Sheets": {
      "main": [[{ "node": "IF: ¿Hubo error?", "type": "main", "index": 0 }]]
    },
    "IF: ¿Hubo error?": {
      "main": [
        [{ "node": "Email: Error Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "staticData": null,
  "tags": [{ "name": "demos" }, { "name": "fase-2" }, { "name": "wat-optimized" }],
  "triggerCount": 1,
  "active": true
}
