app/n8n-workflows/workflow-11-vera-sales-agent.json
{
  "name": "Vera - Sales Agent Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vera-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "vera-chat-main"
    },
    {
      "parameters": {
        "jsCode": "const SYSTEM_PROMPT = `Sos Vera, la asistente virtual de TuAgente Store — el marketplace de agentes IA para empresas latinoamericanas.\n\nTu rol es ayudar a visitantes a entender qué agentes existen, para qué sirven, y orientarlos hacia el siguiente paso (ver demo, reservar activación, contactar por WhatsApp).\n\n## Agentes disponibles en el catálogo:\n1. Sales AI Closer — Cierra ventas automáticamente por WhatsApp/email. Califica leads, responde objeciones, agenda reuniones. Desde $397/mes.\n2. AI Support Agent — Atiende consultas 24/7, resuelve el 80% sin intervención humana. Multicanal (WhatsApp, web, email). Desde $397/mes.\n3. AI Lead Engine — Captura y califica leads de campañas automáticamente. Integra con CRM. Desde $597/mes.\n4. Appointment Setting Agent — Agenda citas y demos automáticamente. Sincroniza con Google Calendar. Desde $397/mes.\n5. Content & Marketing Agent — Genera contenido para redes sociales, emails y campañas. Desde $597/mes.\n6. Operations Assistant — Automatiza tareas internas: reportes, seguimientos, alertas. Desde $597/mes.\n\n## Planes:\n- Básico ($397/mes): 1 agente, hasta 500 conversaciones/mes, soporte por email\n- Pro ($597/mes): 2 agentes, hasta 2.000 conversaciones/mes, integraciones avanzadas, soporte prioritario\n- Enterprise (a medida): múltiples agentes, volumen ilimitado, onboarding dedicado\n\n## Verticales: inmobiliarias, clínicas y salud, concesionarias, agencias de marketing, e-commerce, seguros, legal, educación.\n\n## Setup: funciona en 24hs desde que reservás, sin programación ni desarrollo, integra con WhatsApp Business, HubSpot, Shopify, Google Calendar, Mercado Libre, Zapier, n8n.\n\n## Comportamiento:\n- Sé amigable, directa y concisa — no des respuestas largas\n- Cuando alguien muestre interés concreto, empujá a demo gratis o reserva de activación\n- Si preguntan precio: explicá los planes y ofrecé el Básico como punto de entrada\n- Si quieren hablar con alguien real: https://wa.me/5493437527193\n- Para agendar demo en vivo: https://tuagentestore.com/contact?type=demo\n- Catálogo completo: https://tuagentestore.com/agents\n- Después de 3 intercambios con interés concreto, preguntá si quiere reservar o prefiere WhatsApp\n- No inventes agentes ni funcionalidades que no estén en la lista\n- Respondé en español, tuteo (vos), máximo 3 párrafos o una lista breve`;\n\nconst body = $input.item.json.body || $input.item.json;\nconst messages = body.messages || [];\n\n// Detectar palabras clave de alto interés\nconst keywords = [\n  'precio', 'costo', 'cuanto sale', 'cuanto cuesta', 'contratar', 'activar',\n  'demo', 'reservar', 'comprar', 'adquirir', 'plan', 'pagar', 'facturar',\n  'quiero', 'me interesa', 'necesito', 'cuando empezamos', 'como empiezo'\n];\n\nconst lastUser = messages.filter(m => m.role === 'user').pop()?.content?.toLowerCase() || '';\nconst isHighInterest = keywords.some(kw => lastUser.includes(kw));\n\n// Armar el body para OpenAI\nconst openAIBody = {\n  model: 'gpt-4o-mini',\n  max_tokens: 400,\n  messages: [\n    { role: 'system', content: SYSTEM_PROMPT },\n    ...messages\n  ]\n};\n\nreturn [{\n  json: {\n    isHighInterest,\n    lastUserMessage: lastUser,\n    openAIBody,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Process Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openAIBody) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst message = response?.choices?.[0]?.message?.content\n  || 'Lo siento, no pude procesar tu consulta en este momento. Podés escribirnos por WhatsApp: https://wa.me/5493437527193';\n\nconst prev = $('Process Messages').item.json;\n\nreturn [{\n  json: {\n    message,\n    isHighInterest: prev.isHighInterest,\n    lastUserMessage: prev.lastUserMessage,\n    timestamp: prev.timestamp\n  }\n}];"
      },
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-high-interest",
              "leftValue": "={{ $json.isHighInterest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "High Interest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1565607.hstgr.cloud/webhook/lead-created",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'vera-chat', message: $json.lastUserMessage, timestamp: $json.timestamp, type: 'chat-lead', spreadsheetId: '1ypxnhwu0KYPDCsNGS5EyZ54F0c2TJLUQrdDgvYTMa98' }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Notify Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: $('Extract Response').item.json.message }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Respond (Lead)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: $json.message }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "Respond (Normal)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Process Messages", "type": "main", "index": 0 }]
      ]
    },
    "Process Messages": {
      "main": [
        [{ "node": "Call OpenAI", "type": "main", "index": 0 }]
      ]
    },
    "Call OpenAI": {
      "main": [
        [{ "node": "Extract Response", "type": "main", "index": 0 }]
      ]
    },
    "Extract Response": {
      "main": [
        [{ "node": "High Interest?", "type": "main", "index": 0 }]
      ]
    },
    "High Interest?": {
      "main": [
        [{ "node": "Notify Lead", "type": "main", "index": 0 }],
        [{ "node": "Respond (Normal)", "type": "main", "index": 0 }]
      ]
    },
    "Notify Lead": {
      "main": [
        [{ "node": "Respond (Lead)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false
}
